* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

:root {
  --header: rgb(128, 217, 240);
  --nav: rgb(230, 172, 118);
  --nav-dark: rgb(187, 140, 96);
  --font: rgb(131, 63, 0);
}

body, html {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 10fr;
}

header {
  grid-column: 1 / -1;
  background-color: var(--header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
}

button:hover {
      cursor: pointer;
    }

nav {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  background-color: var(--nav);
  padding: 20px;
  color: var(--font);
  text-align: center;


  .chef-hat {
    width: 100%;
    height: 225px;
    background-color: var(--font);
    mask-image: url('chef-hat.svg');
    mask-repeat: no-repeat;
    mask-position: center;
  }

  h2 {
    font-family: cursive;
  }

  .buttons {
    display: flex;
    flex-direction: column;

    button {
      border: none;
      background-color: var(--nav);
      font-size: 2rem;
      color: var(--font);
      border-bottom: 2px solid var(--font);
      padding: 25px;
    }

    button:hover {
      background-color: var(--nav-dark);
    }
  }
}